<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EpamTaskTracking</display-name>

	<welcome-file-list>
		<welcome-file>WelcomePage.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	
	<servlet>
		<servlet-name>Project</servlet-name>
		<servlet-class>web.ProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/newproject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/editproject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/deleteproject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/listproject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/updateproject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/insertproject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>web.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/newuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/edituser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/listuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/updateuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/insertuser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Task</servlet-name>
		<servlet-class>web.TaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/newtask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/edittask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/deletetask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/listtask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/updatetask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/inserttask</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/filtertask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/cleanfiltertask</url-pattern>
	</servlet-mapping>
</web-app>